@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800&display=swap");

.center {
  text-align: center;
  text-decoration: none;
}
.title {
  color: rgb(145, 117, 117);
  font-size: x-large;
  font-style: italic;
  font-weight: 900;
}
.message {
  font-size: small;
  max-width: 300px;
  font-weight: 500;
}

* {
  font-family: "Montserrat Alternates", sans-serif;
  list-style: none;
  box-sizing: border-box;
  font-style: italic;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  float: center;
}
a.l:hover {
  background-color: rgba(203, 203, 203, 0);
  font-size: larger;
  font-weight: bold;
}
svg:hover{
  height: 30px;
  width: 30px;
}
a:link {
  text-decoration: none;
}
body {
  background-image: url("");
}
.back {
  position: relative;
  isolation: isolate;
}
.back::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.2;
  background-image: url("img/program.jpeg");
  background-size: cover;
}
.back-1 {
  position: relative;
  isolation: isolate;
}
.back-1::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.2;
  background-image: url("img/guitar.jpeg");
  background-size: cover;
}
.back-2 {
  position: relative;
  isolation: isolate;
}
.back-2::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.2;
  background-image: url("img/vslight.png");
  background-size: cover;
}
.back-3 {
  position: relative;
  isolation: isolate;
}
.back-3::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.2;
  background-image: url("img/scratch.png");
  background-size: cover;
}
.navi {
  font-weight: 600;
}
body{
 
  position:static;
  isolation: isolate;
}
body::after{
  content: "";
  width:100%;
  height: auto;
  position: absolute;
  z-index: -1;
  inset:0;
  opacity: 0.6;
  background-image: url(img/sky.jpg);
  background-size:cover;
  
}