@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;800&display=swap");
h1 {
  color: #FFC26F;
  font-style: italic;
  background-color: #C38154;
  padding: 10px;
}
.center {
  text-align: center;
}
.Myname {
  color: #FFC26F;
  padding: 10px;

  font-size: larger;
  font-style: italic;
  background-color: #C38154;
}
.data {
  font-size: small;
  text-align: center;
}
* {
  background-color: #F9E0BB;
  font-family: "Montserrat Alternates", sans-serif;
  list-style: none;
  box-sizing: border-box;
}
p {
  font-size: small;
  font-weight: bold;
}
h2 {
  text-align: center;
}
.border {
  border: solid #884A39;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 2pc;
  text-align: left;
  font-weight: bold;
  background-color: #FFC26F;
}
#pic {
  height: 300px;
  width: auto;
}
body {
  font-family: "Montserrat Alternates", sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: center;
}

li a {
  display: block;
  color: rgb(31, 10, 10);
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-weight: 900;

}

li a:hover {
  background-color: #FFC26F;
}

